@import "../variables.modules";

nav {
  transition: $transition;
  padding: 5px;
}

.active {
  border-bottom: 8px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;
  font-size: 1rem;

  &:hover {
    transform: translateY(0px);
    transition: $transition;
  }
}

.link:hover {
  color: unset;
}